<div class="container">
  <h1 class="text-center">Flickr Food Images</h1>
  <div class="row">
    <div
      class="col-sm-12 col-md-6 col-lg-4 p-3 imagesCss"
      *ngFor="let image of images"
    >
      <div
        class="shadow-lg p-3 mb-5 bg-white rounded cardBox"
        (click)="routing(image)"
      >
        <img
          class="imageCss"
          src="{{ image.url }}_m.jpg"
          title="{{ image.title }}"
        />
        <br />
        <div *ngIf="ratingObj?.url == image.url" style="font-size: larger">
          <p *ngIf="ratingObj.rating != null">
            <b> Rating :</b> {{ ratingObj?.rating }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="isLoading && !value"
  class="d-flex justify-content-center loadingSpinner"
>
  <div class="spinner-border" style="width: 2rem; height: 2rem" role="status">
    <span class="sr-only"></span>
  </div>
  <h3 class="loadingText">&nbsp; Loading...</h3>
</div>
<!-- <div class="text-center" *ngIf="!isLoading">
  <a *ngIf="showNext" (click)="nextPage()" class="btn btn-secondary">
    Load More Photos
  </a>
</div> -->
